html,
body {
    padding: 0;
    margin: 0;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    background-color: red;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #25262b;
}

*::-webkit-scrollbar-thumb {
    background: #a4b0c9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8893aa;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="file"] {
    display: none;
}

.Toastify__toast-body {
    white-space: pre-line;
}
