.imgFrame {
    width: 250px;
}

label.label input[type="file"] {
    display: none;
}

.inputBox {
    width: 100%;
    font-size: 20px;
    font-family: "Kufam", sans-serif;
}

.browse {
}

.pieChartColumn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.inputBox::placeholder {
    color: #a8a7a7;
    /* Change this to your desired color */
    opacity: 1;
    /* Optional: change opacity */
}

.inputBox::file-selector-button {
    color: #683309;
    background-size: cover;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "KGSummerSunshineBlackout";
}

.inputBox::file-selector-button::after {
    opacity: 0 !important;
}

.launchBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    gap: 20px;
    z-index: 0;
}

.pieChart {
    width: 400px;
    margin-top: 40px;
    /* margin-left: 100px; */
}

.launchBodyUpper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.launchBodyUpperFields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.eachField {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: white;
    width: max-content;
    text-transform: capitalize !important;
    width: 100%;
}

.textLabelInput {
    position: relative;
    width: 100%;
}

.textLabelInput input {
}

.textLabelInputamms {
    position: relative;
}

.textLabelInputamms input {
    position: relative;
    background-color: #494949;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.761);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.textLabelInput input {
    position: relative;
    background-color: #454444;
    box-shadow: none;
    border: 0.5px solid rgba(255, 255, 255, 0.761);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.distributionField {
    position: relative;
    color: white;
}

.distributionField input {
    position: relative;
    color: white;
}

.sol {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
}

.percentage {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}

.launchBodyLower {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.launchBodyLowerHorizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.distributionBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.textLabel2 {
    font-family: "ReemKufiRegular";
    font-size: 25px;
    color: white;
}

.distributionBoxFields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.distributionBoxEachFields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.help {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 40px;
    z-index: 100;
}

.distributionField input {
    background-color: #494949;
    box-shadow: none;
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.761);
    border-radius: 5px;
    color: white;
}

.colorBox1 {
    background-color: #ff5151;
    width: 50px;
    height: 30px;
}

.colorBox2 {
    background-color: #489cff;
    width: 50px;
    height: 30px;
}

.colorBox3 {
    background-color: #74dd5a;
    width: 50px;
    height: 30px;
}

.colorBox4 {
    background-color: #ffef5e;
    width: 50px;
    height: 30px;
}

.colorBox5 {
    background-color: #b96cf6;
    width: 50px;
    height: 30px;
}

.colorBox6 {
    background-color: #ff994e;
    width: 50px;
    height: 30px;
}

.browse {
    color: white;
    background-image: linear-gradient(0deg, rgba(254, 106, 0, 1) 0%, rgba(236, 35, 0, 1) 100%);
    background-size: cover;
    border-radius: 20px;
}

.nextBtn {
    color: white;
    background-image: linear-gradient(0deg, rgba(254, 106, 0, 1) 0%, rgba(236, 35, 0, 1) 100%);
    background-size: cover;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 1184px) {
    .imgFrame {
        width: 250px;
    }

    .inputBox {
        width: 100%;
    }

    .launchBody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .launchBodyUpper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }

    .launchBodyUpperFields {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .eachField {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .textLabel {
        font-size: 12px;
        color: white;
        width: max-content;
        text-transform: capitalize !important;
        color: white !important;
    }

    .textLabelInput {
        position: relative;
        width: 100%;
    }

    .textLabelInput input {
        position: relative;
        background-color: #494949;
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.761);
        padding: 10px;
        border-radius: 5px;
        color: white;
        width: 100%;
    }

    .distributionField {
        position: relative;
    }

    .distributionField input {
        position: relative;
    }

    .sol {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: auto;
    }

    .percentage {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
    }

    .launchBodyLower {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .launchBodyLowerHorizontal {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .distributionBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .distributionBoxFields {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .distributionBoxEachFields {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 10px;
        font-family: "ReemKufiRegular" !important;
    }

    .distributionField input {
        background-color: #494949;
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.761);
        padding: 10px;
        border-radius: 5px;
        color: white;
        width: 100px;
    }

    .colorBox1 {
        background-color: #ff5151;
        width: 50px;
        height: 30px;
    }

    .colorBox2 {
        background-color: #489cff;
        width: 50px;
        height: 30px;
    }

    .colorBox3 {
        background-color: #74dd5a;
        width: 50px;
        height: 30px;
    }

    .colorBox4 {
        background-color: #ffef5e;
        width: 50px;
        height: 30px;
    }

    .colorBox5 {
        background-color: #b96cf6;
        width: 50px;
        height: 30px;
    }

    .colorBox6 {
        background-color: #ff994e;
        width: 50px;
        height: 30px;
    }

    .browse {
        color: white;
        background-image: linear-gradient(0deg, rgba(254, 106, 0, 1) 0%, rgba(236, 35, 0, 1) 100%);
        background-size: cover;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
    }

    .nextBtn {
        color: white;
        background-image: linear-gradient(0deg, rgba(254, 106, 0, 1) 0%, rgba(236, 35, 0, 1) 100%);
        background-size: cover;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 5px;
    }

    .piechart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .help {
        position: fixed;
        top: 120px;
        right: 20px;
        width: 40px;
        z-index: 100;
    }

    .textLabel2 {
        font-family: "ReemKufiRegular";
        font-size: 20px;
    }

    .pieChartColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .pieChart {
        width: 100%;
        margin-top: 40px;
    }
}
