

.headerImage {
    background-image: url("/images/header_fill.png");
    width: 100%;
    height: 40px;
}

.footerImage {
    background-image: url("/images/footer_fill.png");
    width: 100%;
    height: 30px;
    padding-top: "50px";
    position: fixed;
    bottom: 0
}